<nav class="navbar navbar-inverse navbar-fixed-top">
    <div id="nav" class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">VSPs</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav">
                <li id="navMap">
                    <a href="/map">
                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                        <span class="hidden-xs"> Map</span>
                    </a>
                </li>
                <li id="navLists">
                    <a href="/lists">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        <span class="hidden-xs"> Lists</span>
                    </a>
                </li>
                <li id="navAdd">
                    <a href="/add">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        <span class="hidden-xs"> Add</span>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script src="/js/lib/jquery.min.js"></script>

<!--custom js 추가-->
<script src="/js/app/common/navbar.js"></script>