<!DOCTYPE HTML>
<html>
<head>
    <title>Vote Sightseeing Points</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">

    <!-- leaflet css 추가 -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>

    <style>
        #mapid {
            height: 400px;
            margin: 0px;
        }
    </style>
</head>
<body>
    {{> common/navbar }}
    <div id="top" class="container" role="main" style="padding-top: 65px;">
        <h1>Add Point</h1>
        <form method="POST" action="/addPoint" accept-charset="UTF-8" id="create_point_form" enctype="multipart/form-data">
            <input name="latitude" type="hidden">
            <input name="longitude" type="hidden">

            <div class="form-group">
                <h3><label for="name">Name</label></h3>
                <input class="form-control" placeholder="Name of the Point" name="name" type="text" id="name">
            </div>

            <div id="mapid" style="min-height: 400px; height: 580px; position: relative;"></div>

            <div class="form-group">
                <h3><label for="description_revised">Memo of the point</label></h3>
                <textarea class="form-control" placeholder="Please describe the point." name="memo" cols="50" rows="10" id="memo"></textarea>
            </div>
            <hr class="divider">
            <div class="form-group">
                <input class="btn btn-primary disabled" disabled="disabled" type="submit" value="Submit">
                <a role="button" class="btn btn-link" data-toggle="modal" data-target="#termsModal" style="font-weight:300;white-space:normal"></a>
            </div>
        </form>
        <hr>
        <footer class="footer">
            {{> common/footer }}
        </footer>
    </div>
</body>

<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<!--custom js 추가-->
<script src="/js/app/common/common.js"></script>
<script src="/js/app/add.js"></script>

</html>