<!DOCTYPE HTML>
<html>
<head>
    <title>Vote Sightseeing Points</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">

    <!-- leaflet css 추가 -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>

    <style>
        #mapid {
            height: 500px;
            margin: 0px;
        }
    </style>
</head>
<body>
    {{> common/navbar }}
    <div id="top" class="container" role="main" style="padding-top: 65px;">
        <div class="row">
            <div class="col-md-12" id="content-l-container">
                <div id="mapid" style="min-height: 400px; height: 580px; position: relative;"></div>
                <hr>
                <footer class="footer">
                    {{> common/footer }}
                </footer>
            </div>
        </div>
    </div>
</body>

<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<!--custom js 추가-->
<script src="/js/app/common/common.js"></script>
<script src="/js/app/add.js"></script>

</html>