<!DOCTYPE HTML>
<html>
<head>
    <title>Vote Sightseeing Points</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
    {{> common/navbar }}
    <div id="top" class="container" role="main" style="padding-top: 65px;">
        <div class="row">
            <div class="col-md-8" id="content-l-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                          </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
                <section id="spots-list">
                    <div class="text-muted" style="padding-top:20px">
                        1-10 of 7151 spots
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="https://calisthenics-parks.com/spots/8860-en-outdoor-pull-up-bars-yongsan-gu-dongjak-bridge-calisthenics-park"><img src="https://calisthenics-parks.com/attachments/51HbXrYmzLLfwDrRS5dgUhnFb1fEaH93pAOQY5qf_100_square.jpg" style="max-width:80px" class="img-responsive media-object" alt="Outdoor Pull Up Bars - Yongsan-gu - Dongjak Bridge - Calisthenics park"></a>
                                </div>
                                <div class="media-body">

                                    <h4 class="media-heading"><a href="https://calisthenics-parks.com/spots/8860-en-outdoor-pull-up-bars-yongsan-gu-dongjak-bridge-calisthenics-park">Outdoor Pull Up Bars - Yongsan-gu - Dongjak Bridge - Calisthenics park</a></h4>
                                    <ul class="list-inline shrinked" style="margin-bottom:5px">
                                        <li>
                                            <span class="text-nowrap ">
                                                <span class="st-icon-favorite" aria-hidden="true"></span>
                                            </span>
                                        </li>
                                        <li><span style="margin-left:10px"></span></li>
                                    </ul>
                                    <ul class="list-inline localizationActions shrinked">
                                        <li><a href="https://calisthenics-parks.com/countries/kr-en-south-korea" class="btn btn-default btn-xs"><span class="st-icon-earth" aria-hidden="true"></span> South Korea</a></li>
                                        <li><a href="https://calisthenics-parks.com/regions/53-en-asia" class="btn btn-default btn-xs"><span class="st-icon-bagel" aria-hidden="true"></span> Asia</a></li>
                                        <li><a href="https://calisthenics-parks.com/cities/5049-en-yongsan-gu-seoul-south-korea" class="btn btn-default btn-xs"><span class="st-icon-city" aria-hidden="true"></span> Yongsan-gu</a></li>
                                    </ul>
                                </div>
                                <div class="media-right media-middle text-right spotActions">
                                    <button type="button" class="btn btn-default expanded" data-toggle="modal" data-target="#loginOrRegister" title="Like">
                                        <span class="st-icon-heart"></span>
                                    </button>
                                    <a class="btn btn-default expanded" href="https://calisthenics-parks.com/spots/8860-en-outdoor-pull-up-bars-yongsan-gu-dongjak-bridge-calisthenics-park#comments" title="Write a comment">
                                        <span class="st-icon-chat-conversation-alt" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="https://calisthenics-parks.com/spots/8870-en-workout-station-kitakyushu-outdoor-fitness-yahatahigashi-ku"><img src="https://calisthenics-parks.com/attachments/3pUVt79wLeeHp6fEbkVbIwUfztwnbwDuedbmYzqe_100_square.jpg" style="max-width:80px" class="img-responsive media-object" alt="Workout Station - Kitakyūshū - Outdoor Fitness Yahatahigashi-ku"></a>
                                </div>
                                <div class="media-body">

                                    <h4 class="media-heading"><a href="https://calisthenics-parks.com/spots/8870-en-workout-station-kitakyushu-outdoor-fitness-yahatahigashi-ku">Workout Station - Kitakyūshū - Outdoor Fitness Yahatahigashi-ku</a></h4>
                                    <ul class="list-inline shrinked" style="margin-bottom:5px">
                                        <li><span class="text-nowrap ">
                                                        <span class="st-icon-favorite" aria-hidden="true"></span>
                                                </span></li>
                                        <li><span style="margin-left:10px">
                                                                                                                        </span></li>
                                    </ul>
                                    <ul class="list-inline localizationActions shrinked">
                                        <li><a href="https://calisthenics-parks.com/countries/jp-en-japan" class="btn btn-default btn-xs"><span class="st-icon-earth" aria-hidden="true"></span> Japan</a></li>
                                        <li><a href="https://calisthenics-parks.com/regions/53-en-asia" class="btn btn-default btn-xs"><span class="st-icon-bagel" aria-hidden="true"></span> Asia</a></li>
                                        <li><a href="https://calisthenics-parks.com/cities/3989-en-kita" class="btn btn-default btn-xs"><span class="st-icon-city" aria-hidden="true"></span> Kitakyūshū</a></li>
                                    </ul>
                                </div>
                                <div class="media-right media-middle text-right spotActions">
                                    <button type="button" class="btn btn-default expanded" data-toggle="modal" data-target="#loginOrRegister" title="Like">
                                        <span class="st-icon-heart"></span>
                                    </button>

                                    <a class="btn btn-default expanded" href="https://calisthenics-parks.com/spots/8870-en-workout-station-kitakyushu-outdoor-fitness-yahatahigashi-ku#comments" title="Write a comment">
                                        <span class="st-icon-chat-conversation-alt" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pagination">
                        <li class="disabled"><span>«</span></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="https://calisthenics-parks.com/spots?filter=&amp;order=distance&amp;page=2#goto-tab-list">2</a></li>
                        <li><a href="https://calisthenics-parks.com/spots?filter=&amp;order=distance&amp;page=3#goto-tab-list">3</a></li>
                        <li><a href="https://calisthenics-parks.com/spots?filter=&amp;order=distance&amp;page=4#goto-tab-list">4</a></li>
                        <li><a href="https://calisthenics-parks.com/spots?filter=&amp;order=distance&amp;page=5#goto-tab-list">5</a></li>
                        <li><a href="https://calisthenics-parks.com/spots?filter=&amp;order=distance&amp;page=6#goto-tab-list">6</a></li>
                        <li><a href="https://calisthenics-parks.com/spots?filter=&amp;order=distance&amp;page=7#goto-tab-list">7</a></li>
                        <li><a href="https://calisthenics-parks.com/spots?filter=&amp;order=distance&amp;page=8#goto-tab-list">8</a></li>
                        <li class="disabled"><span>...</span></li>
                        <li><a href="https://calisthenics-parks.com/spots?filter=&amp;order=distance&amp;page=143#goto-tab-list">143</a></li>
                        <li><a href="https://calisthenics-parks.com/spots?filter=&amp;order=distance&amp;page=144#goto-tab-list">144</a></li>
                        <li><a href="https://calisthenics-parks.com/spots?filter=&amp;order=distance&amp;page=2#goto-tab-list" rel="next">»</a></li>
                    </ul>
                </section>
                <hr>
                <footer class="footer">
                    {{> common/footer }}
                </footer>
            </div>
        </div>
    </div>
</body>

<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<!--custom js 추가-->
<script src="/js/app/common/common.js"></script>
<script src="/js/app/lists.js"></script>

</html>